/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

    Created on : 4 nov. 2016, 15:44:50
    Author     : superviseur
*/

.champ
{
    display: flex;
}

.demichamp
{
    margin: 5px;
}

#oldfields
{
    border-style: solid;
    border-width: 1px;
}